.form {
	position: relative;

	width: 100%;
	padding: 20px 10px;

	background-color: @white;

	overflow: hidden;
}

.form__title {
	margin: 0;

	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.46px;
}

.form__description {
	margin: 0 0 20px 0;

	font-weight: 300;
}

.form__form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form__wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 235px;
	margin-bottom: 20px;

	z-index: 1;
}

.form__animation {
	opacity: 0;
	transition: 1s;
	animation: show 1s 1;
	animation-fill-mode: forwards;

	&:nth-child(1) {
		animation-delay: 200ms;
	}

	&:nth-child(2) {
		animation-delay: 400ms;
	}

	&:nth-child(3) {
		animation-delay: 600ms;
	}

	&:nth-child(4) {
		animation-delay: 800ms;
	}

	&:nth-child(5) {
		animation-delay: 1000ms;
	}

	&:nth-child(6) {
		animation-delay: 1200ms;
	}

	&:nth-child(7) {
		animation-delay: 1400ms;
		margin-bottom: 65px;
	}

	&:nth-child(8) {
		animation-delay: 1600ms;
	}

	&:nth-child(9) {
		animation-delay: 1800ms;
	}

	&:nth-child(10) {
		animation-delay: 2000ms;
	}
}

@keyframes show{
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.form__legend,
.form__text-label {
	width: 235px;
	margin-bottom: 5px;

	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: @gray-dark;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.form__message {
	position: absolute;
	top: 42px;

	font-size: 12px;
	line-height: 14px;
	color: @red;
}

.form__text-field {
	font-size: 14px;
	line-height: 16px;

	border: none;
	border-bottom: 1px solid @gray;
	background-color: transparent;

	&--error {
		color: @red;
		border-color: @red;
	}

	&::-ms-clear {
		width: 0;
		height: 0;
	}
}

.form__message-ok {

	&::before {
		content: "";
		position: absolute;
		top: -15px;
		left: 222px;

		display: block;
		width: 5px;
		height: 1px;

		background-color: @blue-dark;

		transform: rotate(45deg);
	}

	&::after {
		content: "";
		position: absolute;
		top: -16px;
		left: 225px;

		display: block;
		width: 10px;
		height: 1px;

		background-color: @blue-dark;

		transform: rotate(-45deg);
	}
}

.form__fieldset {
	width: 235px;
	padding: 0;
	margin: 0 0 23px 0;

	border: none;

	z-index: 1;
}

.form__wrapper-day-of-birth {
	display: flex;
	justify-content: space-between;
}

.form__select {
	display: inline-block;
	width: 100%;
	height: 19px;

	font-size: inherit;
	line-height: inherit;
	color: inherit;

	background: none;
	border: none;
	border-bottom: 1px solid @gray;
	appearance: none;

	&--date {
		width: 56px;
	}

	&--month {
		width: 91px;
	}

	&--year {
		width: 68px;
	}

	&:hover {
		cursor: pointer;
	}
}

.form__select-wrapper {
	position: relative;

	&--day-of-birth {
		display: inline-block;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 3px;
		z-index: 1;

		display: block;
		width: 5px;
		height: 1px;

		background-color: @gray-dark;
		pointer-events: none;

		transform: rotate(40deg);
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 1;

		display: block;
		width: 5px;
		height: 1px;

		background-color: @gray-dark;
		pointer-events: none;

		transform: rotate(-40deg);
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.form__select-wrapper {
		&::before {
			content: none;
		}

		&::after {
			content: none;
		}
	}
}

.form__radio-label {
	display: inline-block;

	&::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 12px;

		border: 3px solid @white;
		border-radius: 50%;
		box-shadow: 0 0 0 1px @blue-dark;
	}

	& ~ .form__radio-label {
		margin-left: 16px;
	}
}

.form__radio-field:checked:not(:disabled) + .form__radio-label {
	&::before {
		background-color: @blue-dark;
	}
}

.form__radio-field:checked:not(:disabled):focus + .form__radio-label {
	&::before {
		box-shadow: 0 0 3px 2px @blue-dark;
	}
}

.form__radio-field:not(:disabled) + .form__radio-label {
	&:hover {
		cursor: pointer;
	}
}

.form__radio-field:checked:disabled + .form__radio-label::before {
	background-color: @blue-dark-opacity06;
	box-shadow: 0 0 0 1px @blue-dark-opacity06;
}

.form__radio-field:checked:disabled + .form__radio-label {
	color: @gray-dark;
}

.form__radio-field:not(:checked):disabled + .form__radio-label {
	color: @gray;

	&::before {
		box-shadow: 0 0 0 1px @gray;
	}
}

.form__login-block {
	margin-top: 47px;

	z-index: 1;
}

.form__button {
	display: block;
	width: 154px;
	min-height: 32px;
	padding: 5px;
	margin-top: 40px;

	font-family: @font-pt;
	font-size: 14px;
	line-height: 18px;
	color: @white;

	border: none;
	background-color: @blue-dark;

	z-index: 1;

	&:hover {
		cursor: pointer;
	}

	&--error {
		animation-name: shake;
		animation-duration: 0.6s;
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-3px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(3px);
	}
}

.form__svg {
	position: absolute;
	right: 0;
	bottom: 0;

	width: 307px;
	height: 355px;

	fill: #f9faff;
	stroke: @gray-dark;
	stroke-width: 2px;
	stroke-dasharray: 3812;
	stroke-dashoffset: 3812;
	animation:
		draw 2000ms linear 0ms 1,
		fade 2000ms linear 0ms 1;
}

@keyframes draw {
	10% {
		stroke-dashoffset: 3812
	}
	40% {
		stroke-dashoffset: 1606;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes fade {
	0% {
		stroke-opacity: 1;
	}
	50% {
		stroke-opacity: 0.5;
	}
	100% {
		stroke-opacity: 0;
	}
}

@media (min-width: @tablet-width) {
	.form {
		padding: 20px 24px 33px 20px;
	}

	.form__animation:nth-child(7) {
		margin-bottom: 20px;
	}

	.form__login-block {
		margin-top: 87px;
	}

	.form__button {
		order: 1;

		margin-top: 80px;
	}
}

