.page-main {
	display: flex;
}

.page-main__wrapper {
	position: relative;

	display: block;
	width: 138px;
	height: 480px;

	background-color: @blue-dark;
}

.page-main__title {
	position: absolute;
	bottom: 22px;
	right: 5px;

	padding: 0;
	margin: 0;

	font-family: @font-pt;
	font-size: 49px;
	line-height: 63px;
	font-weight: normal;
	letter-spacing: 0.5px;
	color: @white;

	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
