@white:           rgb(255, 255, 255);
@gray-dark: 			rgb(124, 124, 124);
@gray:						rgb(242, 242, 242);
@blue-dark:				rgb(90, 97, 237);
@black-base: 			rgb(17, 17, 17);

@font-pt: 				"PT Sans", "Arial", sans-serif;

@mobile-width:    320px;
@desktop-width:   665px;
@retina-dpi:      144dpi;
@retina-dppx:     1.5dppx;
