@white:           		rgb(255, 255, 255);
@gray-dark: 					rgb(124, 124, 124);
@gray:								rgb(242, 242, 242);
@red:									rgb(255, 34, 34);
@blue-dark:						rgb(90, 97, 237);
@blue-dark-opacity06:	rgba(90, 97, 237, 0.6);
@black-base: 					rgb(17, 17, 17);

@font-work: 					"Work Sans", "Arial", sans-serif;
@font-pt: 						"PT Sans", "Arial", sans-serif;

@mobile-width:    		320px;
@tablet-width:    		660px;
@desktop-width:   		800px;
@retina-dpi:      		144dpi;
@retina-dppx:     		1.5dppx;
